<div class="text-danger">
  {{ newProduct | json }}
</div>

<form #form="ngForm" class="d-flex m-3">
  <div class="col">
    <div class="mb-3">
      <label for="" class="form-label">ID</label>
      <input
        #pid="ngModel"
        type="number"
        name="pID"
        id="pID"
        class="form-control"
        required
        [(ngModel)]="newProduct.id"
      />
      <small *ngIf="pid.touched && pid.invalid" id="helpId" class="text-muted"
        >You must enter id</small
      >
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Name</label>
      <input
        type="text"
        name="pName"
        id="pName"
        class="form-control"
        required
        [(ngModel)]="newProduct.name"
      />
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="mb-3">
      <label for="" class="form-label">CategoryID</label>
      <input
        type="number"
        name="pCategoryID"
        id="pCategoryID"
        class="form-control"
        required
        required
        [(ngModel)]="newProduct.categoryId"
      />
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Price</label>
      <input
        type="number"
        name="pPrice"
        id="pPrice"
        class="form-control"
        [(ngModel)]="newProduct.price"
      />
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Quantity</label>
      <input
        type="number"
        name="pQuantity"
        id="pQuantity"
        class="form-control"
        required
        [(ngModel)]="newProduct.quantity"
      />
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Available Quantity</label>
      <input
        type="number"
        name="pAvailable"
        id="pAvailable"
        class="form-control"
        [(ngModel)]="newProduct.avQuantity"
      />
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Image</label>
      <input
        type="file"
        name="pImgUrl"
        id="pImgUrl"
        class="form-control"
        [(ngModel)]="newProduct.imgUrl"
      />
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="mb-3">
      <button
        [disabled]="form.invalid"
        *ngIf="!editPrd"
        type="submit"
        class="btn btn-primary"
        (click)="addProduct()"
      >
        Save
      </button>
      <button
        [disabled]="form.invalid"
        (click)="editPrdFun()"
        *ngIf="editPrd"
        type="submit"
        class="btn btn-primary"
      >
        Save Edit
      </button>
    </div>
  </div>
</form>

<!-- <a name="" id="" class="btn btn-primary" (click)="addProduct()" role="button"
  >Save</a
> -->
