<div class="container">
  <h1>Exchange and return policy</h1>
  <ul>
    <li>
      Exchange and return are a guaranteed right for all our customers, and it
      includes all the products that we display on our store.
    </li>
    <li>
      All products displayed on our store are subject to the exchange and return
      policy in accordance with the terms and conditions stipulated in this
      page.
    </li>
    <li>
      It can be returned or exchanged if the product is in the same original
      condition when purchased and wrapped in the original packaging.
    </li>
    <li>
      Your request for exchange or return will be approved within 3 working
      days.
    </li>
    <li>
      request is approved , the representative will reach the customer within
      3-5 working days.
    </li>
    <li>
      Please photograph the product and send it, specifying the city, address,
      and order number, so that it can be replaced with another product in the
      event that the product is spoilt, has a specific defect, or is not used
      according to what was agreed upon.
    </li>
    <li>
      The amount will be refunded to the customer in full if the product
      received is completely different from the product description on the
      product page of our website.
    </li>
    <li>
      We are not responsible for any expectations of using the products on the
      part of the customer that we did not mention on the product page of our
      website.
    </li>
  </ul>
</div>
