.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav{
  width: 100%;
}
.shoping span{
  width: 20px;
  height: 20px;
  background: #ec7c3d;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: -10px;
  z-index: -2;
}
.shoping{
  position: relative;
}
@media (max-width:991px) {
  .brows{
    display: flex !important;
  }
  .navbar>.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
  }

}
