*{
  padding: 5px;
}
h1{
  text-align: center;
  margin: 30px 0;
}
p{
  font-size: 20px;
}
.card{
  width: 50%;
  margin: 10px;
}
.shippingMethods{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:991px) {
  .shippingMethods{
    flex-direction: column;
  }
  .card{
    width: 80%;

  }

}
