<div class="container">
  <h1>Shipping policy</h1>
  <p>
    After confirming your purchase, we ship and send the product via the method
    you have chosen, either via our shipping official or via the Amana Express
    service.
  </p>

  <h3 class="m-4">Shipping methods</h3>
  <div class="shippingMethods">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Amana Express</h4>
        <p class="card-text">
          A service that guarantees delivery of consignments to the required
          address within a period ranging between 3 and 7 days towards the main
          directions.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Shipping official</h4>
        <p class="card-text">
          Our store contracts with a group of shipping officials in a group of
          cities who deliver the products in a period ranging between one and
          three days.
        </p>
      </div>
    </div>
  </div>
</div>
