<!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#Id2" aria-controls="Id2">
    <span class="navbar-toggler-icon"></span>
</button>


<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="Id2"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            
        </div>
    </div>
</div> -->
<div id="wrapper">
  <div #sidebare id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#"> Start Bootstrap </a>
      </li>
      <li>
        <a routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Shortcuts</a>
      </li>
      <li>
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>
