app-header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color:white;
    z-index: 50000;
    box-shadow: 1px 1px 10px 3px #2525;
}
.offcanvas{
  z-index: 100000;
}
.modal-dialog{
  transform: translate(0, 50%) !important;
  -webkit-transform: translate(0, 50%) !important;
  -moz-transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important;
  -o-transform: translate(0, 50%) !important;
}
.modal{
  z-index: 1000000000000 !important;
  background: #00000080;
}
